In [13]:
import pandas as pd
import numpy as np

In [15]:
# crear un arra 3d
data = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])

# Crear el dataframe
df = pd.DataFrame(data, columns=['A', 'B', 'C'])
df

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [16]:
data = {
    'A': [1, 4, 7],
    'B': [2, 5, 8],
    'C': [3, 6, 9]
}
df = pd.DataFrame(data)
df

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [17]:
# Convertir un dataframe a un array
arr = df.to_numpy()
arr

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [20]:
# calcular el promedio de las columnas
meam_col = np.mean(df, axis=0)
meam_col

A    4.0
B    5.0
C    6.0
dtype: float64

In [23]:
# calcular el promedio de las filas
meam_row = df.mean(axis=1)
meam_row

0    2.0
1    5.0
2    8.0
dtype: float64